{% load static %} 

	 <footer id="main-footer" class="py-4 text-white  footer">
	  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
	<a  href="index.html">
        <img src="{% static 'images/logo.png'%}" class="logo-footer" alt="">
      </a>
        <p>
          Saba tn is website for you shiity ass
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Explore</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">Home</a>
          </li>
          <li>
            <a href="#!" class="text-white">Buy</a>
          </li>
          <li>
            <a href="#!" class="text-white">Sell</a>
          </li>
          <li>
            <a href="#!" class="text-white">About Us</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Terms & Policies</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">Terms of service</a>
          </li>
          <li>
            <a href="#!" class="text-white">Privacy Policy</a>
          </li>
          <li>
            <a href="#!" class="text-white">Sitemap</a>
          </li>
          <li>
            <a href="#!" class="text-white">About</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <div class="text-center">
    Copyright &copy;
    <span class="year"></span> Saba Tn
	  <div>

  </footer>