/************ ALL CSS **************/

body {
    color: black;
}

a {
    text-decoration: none;
}


/************** TOP BAR **************/

.top-bar {
    background-color: #1dbf73;
    padding: 10px;
}

.top-bar>div {
    text-align: center;
}

.fa-envelope-open {
    color: white !important;
}

.fa-phone {
    color: white !important;
}

i.fab {
    color: white;
    text-decoration: none;
}

i.fas:hover,
i.fab:hover {
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .social {
        text-align: center;
    }
    .top-bar>div {
        text-align: center;
    }
}


/******************* NAVBAR ************/

.fa-user-plus,
.fa-sign-in-alt {
    color: black !important;
    font-weight: 600;
}

.fa-user-plus:hover,
.fa-sign-in-alt:hover {
    color: #1dbf73 !important;
}

.nav-link {
    color: black !important;
    padding: 5px;
}

.nav-link:hover {
    color: #1dbf73 !important;
}

.navbar-brand>img {
    width: 100px;
    margin: 10px;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

@media only screen and (max-width: 600px) {
    .navbar-brand>img {
        width: 100px;
        margin: 10px;
    }
    .navbar-brand {
        margin: auto;
    }
    .navbar-collapse {
        margin: auto;
    }
}


/******* hero *************/

.container-h {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 10px;
}

.search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: #1dbf73;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 25px 0 #1dbf73;
}

.search:hover {
    cursor: pointer;
}

.search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all .5s;
}

.search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all .5s;
}

.input-s {
    font-family: 'Inconsolata', monospace;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 50px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: white;
    color: black;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 #1dbf73, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

.input-s:hover {
    cursor: pointer;
}

.input-s:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
}

.input-s:focus~.search {
    right: -250px;
    background: #1dbf73;
    z-index: 6;
}

.input-s:focus~.search::before {
    top: 0;
    left: 0;
    width: 25px;
}

.input-s:focus~.search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
}

.input-s:focus~.search::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
}

.container-hero {
    position: relative;
    background-image: url('https://jooinn.com/images1280_/houses-in-farm-against-cloudy-sky.jpg');
    background-color: #cccccc;
    /* Used if the image is unavailable */
    height: 500px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    justify-content: center;
    margin: auto;
    padding: auto;
}


/************** Footer ********************/

.footer {
    background-color: #1dbf73;
}

.logo-footer {
    width: 200px;
    margin: 10px;
}


/********* Announce **********/

.badge {
    background-color: #1dbf73;
}

.listing-heading {
    color: black;
}

.text-primary {
    color: black !important;
}

.fas {
    color: #1dbf73;
}