/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


body {
  display: flex;
  flex-direction: column;
}




.search-container{
  width: 400px;
  display: block;
  margin: 0 auto;
}

input#search-bar{
  margin: 0 auto;
  width: 90%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #26a69a;
    transition: 0.35s ease;
    color: #26a69a;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -70px;
  right: -35px;
}

.search-container1{
  width: 80%;
  padding-left: -70px;
  margin: 0 auto;
}

input#search-bar1{
  margin: 0 auto;
  width: 80%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #26a69a;
    transition: 0.35s ease;
    color: #26a69a;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }

.search-icon1{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -63px;
  right: -28px;
}

.logo {
  width:34px;
  height:34px;
  border-radius:4px;
  background-color:rgba(0, 0, 0, 0.2);
  margin-right:8px;
}

.header{
  background-color:rgba(0, 0, 0, 0.2);
  padding:12px 24px 8px 24px;
  width:100%;
}


h2 {
  font-size:13px;
  font-weight:bold;
  color:rgba(0, 0, 0, 0.4);
}

h3 {
  font-size:11px;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:1.2px;
  color:rgba(0, 0, 0, 0.4);
  width:100%;
  padding-bottom:5px;
}

* {
  box-sizing: border-box;
}

.left-menu {
  width:270px;
  overflow:scroll;
  height:100%;
}

.left-menu-inner {
  padding:24px
}

#myInput {
  width: 100%;
  font-size: 13px;
  padding: 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background:none;
  margin-bottom: 12px;
  border-radius:4px;
  padding:12px;
  margin-bottom:18px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li {
  width:100%;
  float:left;
  margin-bottom:16px;
 }

#myUL li a {
  text-decoration: none;
  font-size: 13px;
  color:rgba(0, 0, 0, 0.4);
  font-weight:500;
  display: block;
  padding-top:1px;
}

.icon {
  background-color:rgba(0, 0, 0, 0.2);
  width:16px;
  height:16px;
  display:block;
  float:left;
  margin-right:8px;
  border-radius:4px;
}

#myUL li:hover .icon {
  background-color:rgba(0, 0, 0, 0.3);
  cursor:pointer;
}