{% extends 'base.html' %}

{% block content %}
{% load static %}
{% include 'partials/_topbar.html' %}
{% include 'partials/_navbar.html' %}

	<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
		    <div class="container-fluid box">
		        <a  href="#"><img src="{% static 'images/logo.png'%}" class="login-logo" alt=""></a>
			
                    <h1>Login</h1>
                    <p class="text-muted"> Please enter your login and password!</p>
                    <form class="">
					<input type="text" name="" placeholder="Username"> 
					<input type="password" name="" placeholder="Password"> <a class="forgot text-muted" href="#">Forgot password?</a> 
					<input type="submit" name="" value="Login" href="#">
                    <div class="col-md-12">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i> </a></li>
                        </ul>
                    </div> 
                    </form>
								 
            </div>
          </div>
        </div>
    </div>
</div>
	{% include 'partials/_footer.html' %}

{% endblock  %}
